/* Variables */
/* Main */
html,
*,
body {
  cursor: url("../img/cursor.png"), default;
}

::selection {
  background: #211e1d;
  color: #f5b7ba;
}

body {
  overflow-x: hidden;
  background: whitesmoke;
  color: #5a5a5a;
  font-family: "Apple Garamond";
}

.container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
}

.box {
  position: relative;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.box .box-center {
  margin: auto;
  align-items: center;
  justify-content: center;
}
.box img {
  max-width: 100%;
}

hr {
  border: 0;
  color: 0;
}

#landing {
  height: 100vh;
  margin: 2em 0;
}

#landing p.intro {
  font-size: 2.6em;
  line-height: 1em;
  width: 80%;
  max-width: 600px;
  margin: auto;
  padding: 2em 0;
  font-family: "Apple Garamond";
  text-align: center;
}

#landing a.subscribe {
  text-decoration: none;
  padding: 0.5em;
  display: inline-block;
  margin: auto;
  font-size: 1.4em;
  background: -webkit-linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

#landing a.subscribe:hover {
  color: whitesmoke;
  transform: translateY(2px);
}

#landing .girlz {
  max-width: 90%;
  width: 500px;
  display: block;
}

#landing li {
  max-width: 600px;
  width: 80%;
}

#landing a.subscribe {
  text-align: center;
}

#love {
  margin: 7vh 1em 1em 1em;
  font-family: "Apple Garamond";
  text-align: center;
}

.faq {
  font-family: "Apple Garamond";
  text-align: center;
  font-style: italic;
}

.footer {
  padding: 1em;
  box-sizing: border-box;
}
.footer h1 {
  font-size: 16px;
  color: #f4e9e9;
}

.wrapper {
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@font-face {
  font-family: "Apple Garamond";
  src: url("AppleGaramond-Bold.woff2") format("woff2"), url("AppleGaramond-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Apple Garamond";
  src: url("AppleGaramond-BoldItalic.woff2") format("woff2"), url("AppleGaramond-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Apple Garamond";
  src: url("AppleGaramond.woff2") format("woff2"), url("AppleGaramond.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Apple Garamond";
  src: url("AppleGaramond-Italic.woff2") format("woff2"), url("AppleGaramond-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

/*# sourceMappingURL=main.css.map */
