doctype html
html
    head
        link(rel="stylesheet",href="css/normalize.css")
        link(rel="stylesheet",href="css/main.css")
        
        
    body
    
    .container
        .box.box-center(style='min-height:100%;')
            .photobooth(style={width: '500px', margin: '5px'})
                img(src='img/photobooth.png')
                
    
    
        .box.wow(style={background: 'red'})
            .box-inner
            h1 HELLLOOOO!
            p JESUS DONT CRY
            
            
        