doctype html
html
    head
        link(rel="stylesheet",href="css/normalize.css")
        link(rel="stylesheet",href="css/main.css")
        
        
    body
    
    .container
        .box.box-center(style='min-height:100%;background-image:url(img/bg.png);')
        
            .girlstitle(style='position:absolute;width:320px;top:30%;margin-top:2em;')
                img(src='img/girls-gif.gif')
        
            .photobooth(style="width:500px; max-width:90%;")
                img(src='img/photobooth-2.png')
                
    
    
        .box.footer(style={background: '#211e1d'})
            .box-inner
            h1 coming soon
            
        