doctype html
html
    head
        title Girls.ph
    
        link(rel="stylesheet",href="css/normalize.css")
        link(rel="stylesheet",href="css/main.css")
        
        
    body
    
    .container
        .box.box-center(style='min-height:100%;background-image:url(img/bg.png);')
        
            .girlstitle(style='position:absolute;max-width:450px;min-width:300px;width:60%;top:33%;margin-top:2em;')
                img(src='img/girls-title.png')
        
            .photobooth(style="width:500px; max-width:90%;")
                img(src='img/photobooth-2.png')
                
    
    
        .box.footer(style={background: '#211e1d'})
            .box-inner
            h1 coming soon
            
            
            a(src='https://girls.substack.com') follow girls.ph on substack
            
        