doctype html
html
    head
    body
    
    
    
        .box.wow(style={background: 'red'})
            .box-inner
            h1 HELLLOOOO
            p JESUS DONT CRY
            
            
        