/* Variables */

$color: #000;

$text: #5a5a5a;
$bg: whitesmoke;


$off-white: #f4e9e9;
$off-black: #211e1d;


  @import url("https://use.typekit.net/alj0jkd.css");

/* Main */

html,
*,
body {
    
    cursor: url('../img/cursor.png'), default;
}

::selection {
    background: $off-black;
    color: #f5b7ba;
}

body {
    background: $bg;
    color: $text;
    font-family: neue-haas-unica, sans-serif;
}


.container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.box {
    position: relative;
    overflow-x: hidden;
    height:auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    .box-center {
        align-items: center;
        justify-content: center;
    }

    img {
        max-width: 100%;
    }
}


#landing{
    margin:2em 0;
}

#landing p.intro{
    font-size:1.6em;
    line-height:1.4em;
    max-width:80%;
    margin:auto;
    text-align: center;
}


.footer {
    padding: 1em;
    box-sizing: border-box;

    h1 {
        font-size: 16px;


        color: $off-white;
    }
}
